#include <iostream>
using namespace std;

template <class T>
struct nodeType {
    T info;
    nodeType<T>* llink;
    nodeType<T>* rlink;

    nodeType(const T& val)
        : info(val), llink(nullptr), rlink(nullptr) {}
};

template <class T>
class bSearchTreeType {
public:
    bSearchTreeType() : root(nullptr) {}
    ~bSearchTreeType() { destroy(root); }

    void insert(const T& item) { insert(root, item); }

    void inorderTraversal() const { inorder(root); }
    void preorderTraversal() const { preorder(root); }
    void postorderTraversal() const { postorder(root); }

    int treeHeight() const { return height(root); }
    int treeNodeCount() const { return nodeCount(root); }
    int treeLeavesCount() const { return leavesCount(root); }

private:
    nodeType<T>* root;

    void insert(nodeType<T>*& p, const T& item) {
        if (p == nullptr) {
            p = new nodeType<T>(item);
            return;
        }
        if (item < p->info)
            insert(p->llink, item);
        else
            insert(p->rlink, item);
    }

    void inorder(nodeType<T>* p) const {
        if (!p) return;
        inorder(p->llink);
        cout << p->info << " ";
        inorder(p->rlink);
    }

    void preorder(nodeType<T>* p) const {
        if (!p) return;
        cout << p->info << " ";
        preorder(p->llink);
        preorder(p->rlink);
    }

    void postorder(nodeType<T>* p) const {
        if (!p) return;
        postorder(p->llink);
        postorder(p->rlink);
        cout << p->info << " ";
    }

    int height(nodeType<T>* p) const {
        if (!p) return 0;
        int hl = height(p->llink);
        int hr = height(p->rlink);
        return 1 + (hl > hr ? hl : hr);
    }

    int nodeCount(nodeType<T>* p) const {
        if (!p) return 0;
        return 1 + nodeCount(p->llink) + nodeCount(p->rlink);
    }

    int leavesCount(nodeType<T>* p) const {
        if (!p) return 0;
        if (!p->llink && !p->rlink) return 1;
        return leavesCount(p->llink) + leavesCount(p->rlink);
    }

    void destroy(nodeType<T>*& p) {
        if (p) {
            destroy(p->llink);
            destroy(p->rlink);
            delete p;
            p = nullptr;
        }
    }
};

int main() {
    bSearchTreeType<int> tree;
    int num;
    cin >> num;

    while (num != -999) {
        tree.insert(num);
        cin >> num;
    }

    tree.inorderTraversal();
    cout << endl;
    tree.preorderTraversal();
    cout << endl;
    tree.postorderTraversal();
    cout << endl;

    cout << tree.treeHeight() << endl;
    cout << tree.treeNodeCount() << endl;
    cout << tree.treeLeavesCount() << endl;

    return 0;
}
 
